@tailwind base;
@tailwind components;
@tailwind utilities;

/* Personaliza el tamaño de la scrollbar */
::-webkit-scrollbar {
  width: 7px; /* Para la barra vertical */
  height: 7px; /* Para la barra horizontal */
}

/* Personaliza el fondo de la scrollbar */
::-webkit-scrollbar-track {
  background: #79f197;
  border-radius: 10px;
}

/* Personaliza el pulgar (thumb) de la scrollbar */
::-webkit-scrollbar-thumb {
  background: #0a1626;
  border-radius: 10px;
}

/* Cambiar color del pulgar al pasar el mouse */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Estilos para las listas dentro del contenido del blog */
.text-gray-700 ol {
  list-style-type: decimal; /* Para mostrar números */
  padding-left: 1.5em; /* Para la indentación */
}

.text-gray-700 ul {
  list-style-type: disc; /* Para mostrar viñetas (si también tienes listas con viñetas) */
  padding-left: 1.5em;
}

.text-gray-700 li {
  margin-bottom: 0.5em;
  line-height: 1.5;
}

.text-gray-700 li::marker {
  font-weight: bold;
}